/* line 1, style.scss */
#wpadminbar {
  display: none !important;
}

/****************************************

	GENERAL

****************************************/
/* line 11, style.scss */
body {
  font-family: courier, sans-serif;
  font-size: 1.1em;
}

/* line 17, style.scss */
a {
  text-decoration: none;
  color: black;
  padding: 4px 2px;
}

/* line 23, style.scss */
a:hover {
  border-bottom: 1px solid black;
}

/****************************************

	MENU

****************************************/
/* line 33, style.scss */
#menu {
  width: 100%;
  text-align: center;
  margin-top: 16px;
  text-transform: lowercase;
}
/* line 39, style.scss */
#menu li {
  display: inline-block;
  margin: 0 12px;
}

/****************************************

	EDITOR

****************************************/
/* line 52, style.scss */
#editor_save {
  border: 1px solid black;
  position: fixed;
  bottom: 48px;
  right: 48px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px 12px 12px 12px;
  cursor: pointer;
}
