/* line 1, style.scss */
#wpadminbar {
  display: none !important;
}

/****************************************

	CSS RESET

****************************************/
/* line 11, style.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 11, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, style.scss */
body {
  line-height: 1;
}

/* line 11, style.scss */
ol, ul {
  list-style: none;
}

/* line 11, style.scss */
blockquote, q {
  quotes: none;
}

/* line 11, style.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 11, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************

	FONTS

****************************************/
@font-face {
  font-family: 'Suisse';
  src: url("assets/fonts/suisseworks-book-webfont.woff2") format("woff2"), url("assets/fonts/suisseworks-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/****************************************

	GENERAL

****************************************/
/* line 33, style.scss */
html, body {
  font-family: "Suisse", "Suisse Works", Times, "Times New Roman", serif;
  font-size: 1.8em;
  line-height: 1.35;
  padding-bottom: 80px;
  background-color: black;
  color: white;
}
@media (max-width: 1440px) {
  /* line 33, style.scss */
  html, body {
    font-size: 3.33vw;
  }
}
@media (max-width: 1024px) {
  /* line 33, style.scss */
  html, body {
    font-size: 1.3em;
  }
}

/* line 51, style.scss */
#version_one {
  width: 100%;
  height: 100%;
}
/* line 55, style.scss */
#version_one #text_wrapper {
  position: relative;
  width: 50%;
}
@media (max-width: 660px) {
  /* line 55, style.scss */
  #version_one #text_wrapper {
    width: 100%;
  }
}
/* line 61, style.scss */
#version_one #text_wrapper div {
  margin: 36px;
  margin-bottom: 64px;
}
@media (max-width: 660px) {
  /* line 61, style.scss */
  #version_one #text_wrapper div {
    margin: 24px;
  }
}
/* line 68, style.scss */
#version_one #text_wrapper div p {
  width: calc( 100% - 32px );
}
@media (max-width: 1248px) {
  /* line 68, style.scss */
  #version_one #text_wrapper div p {
    width: 100%;
  }
}
/* line 76, style.scss */
#version_one #text_wrapper div.small_text {
  width: calc( 100% - 72px );
  font-size: 0.67em;
}
@media (max-width: 660px) {
  /* line 76, style.scss */
  #version_one #text_wrapper div.small_text {
    width: calc( 100% - 48px );
  }
}
/* line 82, style.scss */
#version_one #text_wrapper div.small_text p {
  text-indent: 64px;
}
/* line 85, style.scss */
#version_one #text_wrapper div.small_text p:first-child {
  text-indent: 0;
}
/* line 89, style.scss */
#version_one #text_wrapper a {
  color: white;
  text-decoration: none;
}
/* line 94, style.scss */
#version_one #images_wrapper {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 50%;
  top: 0;
  right: 0;
  overflow: hidden;
  cursor: none;
}
@media (max-width: 660px) {
  /* line 94, style.scss */
  #version_one #images_wrapper {
    display: none;
  }
}
/* line 107, style.scss */
#version_one #images_wrapper ul {
  height: 100vh;
  width: 100%;
}
/* line 110, style.scss */
#version_one #images_wrapper ul li {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: left 1s;
  overflow: hidden;
}
/* line 125, style.scss */
#version_one #images_wrapper ul li img {
  position: relative;
  width: auto;
  height: 120%;
  margin-top: -10%;
  margin-left: -25%;
}
/* line 135, style.scss */
#version_one #images_wrapper ul li.visible {
  opacity: 1;
  z-index: 99;
}
/* line 139, style.scss */
#version_one #images_wrapper ul li.next_in_line {
  opacity: 1;
}
/* line 143, style.scss */
#version_one #images_wrapper .cursor {
  position: fixed;
  z-index: 99;
  top: -100px;
  left: 0;
  width: 64px;
  height: 64px;
  mix-blend-mode: difference;
}
/* line 152, style.scss */
#version_one #images_wrapper .cursor img {
  width: 100%;
  height: 100%;
  margin-top: -32px;
  margin-left: -32px;
}

/* line 165, style.scss */
#version_two #text_wrapper div {
  margin: 36px;
  margin-bottom: 64px;
}
/* line 169, style.scss */
#version_two #text_wrapper div p {
  width: calc( 100% - 72px );
}
/* line 173, style.scss */
#version_two #text_wrapper div.small_text {
  width: calc( 50% + 32px );
  font-size: 0.67em;
}
/* line 176, style.scss */
#version_two #text_wrapper div.small_text p {
  text-indent: 64px;
}
/* line 179, style.scss */
#version_two #text_wrapper div.small_text p:first-child {
  text-indent: 0;
}
/* line 183, style.scss */
#version_two #text_wrapper a {
  color: black;
  text-decoration: none;
}
/* line 188, style.scss */
#version_two #images_wrapper {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 12000px;
  top: 0;
  left: 0;
  transition: transform 0.25s;
}
/* line 196, style.scss */
#version_two #images_wrapper ul {
  height: 100%;
  display: flex;
}
/* line 200, style.scss */
#version_two #images_wrapper ul li {
  width: 90vw;
  height: 100%;
  transition: transform 2s;
}
/* line 205, style.scss */
#version_two #images_wrapper ul li img {
  width: 60%;
  height: auto;
}
