#wpadminbar {
	display: none !important;
}

/****************************************

	GENERAL

****************************************/

body {
	font-family: courier, sans-serif;
	font-size: 1.1em;
	overflow-x: hidden;	
	// font-weight: 300;
}

a {
	text-decoration: none;
	color: black;
	padding: 4px 2px;
}

a:hover {
	border-bottom: 1px solid black;
}

section {
	border: 2px dashed gray;
	position: relative;
	min-height: 100vh; // TMP
}

section .image {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
}

.ui-wrapper {
	// border: 1px solid green;
	overflow: visible !important;
}

.ui-resizable-se {
	// border: 1px solid blue;
	width: 24px;
	height: 24px;
	float: right;
	background-color: gray;
}

/****************************************

	MENU

****************************************/

#menu {
	// border: 1px solid red;
	width: 100%;
	text-align: center;
	margin-top: 16px;
	text-transform: lowercase;
	li {
		// border: 1px solid blue;
		display: inline-block;
		margin: 0 12px;
	}
}

/****************************************

	EDITOR

****************************************/

#editor_bar {
	border: 1px solid red;
	position: fixed;
	bottom: 48px;
	left: 5%;
	width: 90%;
	font-size: 1em;
	text-align: right;
}

#editor_bar > div {
	display: inline-block;
	padding: 8px 12px 12px 12px;
}

#editor_save {
	border: 1px solid black;
	background-color: rgba( 255, 255, 255, 0.6 );	
	cursor: pointer;
}




