/* line 1, style.scss */
#wpadminbar {
  display: none !important;
}

/****************************************

	CSS RESET

****************************************/
/* line 34, style.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 34, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 34, style.scss */
body {
  line-height: 1;
}

/* line 34, style.scss */
ol, ul {
  list-style: none;
}

/* line 34, style.scss */
blockquote, q {
  quotes: none;
}

/* line 34, style.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

/* line 34, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************

	FONTS

****************************************/
@font-face {
  font-family: 'Suisse';
  src: url("assets/fonts/suisseworks-book-webfont.eot");
  src: url("assets/fonts/suisseworks-book-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/suisseworks-book-webfont.woff2") format("woff2"), url("assets/fonts/suisseworks-book-webfont.woff") format("woff"), url("assets/fonts/suisseworks-book-webfont.svg#suisse_worksbook") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Frank';
  src: url("assets/fonts/franklingothic-book-webfont.eot");
  src: url("assets/fonts/franklingothic-book-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/franklingothic-book-webfont.woff2") format("woff2"), url("assets/fonts/franklingothic-book-webfont.woff") format("woff"), url("assets/fonts/franklingothic-book-webfont.svg#suisse_worksbook") format("svg");
  font-weight: normal;
  font-style: normal;
}
/****************************************

	GENERAL

****************************************/
/* line 70, style.scss */
body {
  font-family: "Suisse", "Suisse Works",  serif;
  font-size: 1em;
  line-height: 1.6;
  overflow-x: hidden;
}

/* line 79, style.scss */
a {
  text-decoration: none;
  color: black;
  padding: 4px 2px;
}

/* line 86, style.scss */
a:hover {
  border-bottom: 1px solid black;
}

/* line 90, style.scss */
section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
/* line 95, style.scss */
section .image {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  transition: opacity 1s;
  backface-visibility: hidden;
}

/* line 105, style.scss */
.selected {
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.8) !important;
}
/* line 107, style.scss */
.selected .ui-resizable-se {
  display: block !important;
}

/* line 112, style.scss */
.ui-wrapper {
  overflow: visible !important;
}

/* line 117, style.scss */
.ui-resizable-se {
  margin-top: 8px;
  width: 18px;
  height: 18px;
  float: right;
  background: url("assets/img/resize_arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: none !important;
}

/* line 130, style.scss */
#page_wrapper {
  padding-top: 12.5vh;
  padding-bottom: 25vh;
  width: 95%;
  margin-left: 2.5%;
}

/****************************************

	MENU

****************************************/
/* line 143, style.scss */
#menu_bg {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, white 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, rgba(246, 246, 246, 0.53)), color-stop(100%, rgba(237, 237, 237, 0)));
  background: -webkit-linear-gradient(top, white 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
  background: -ms-linear-gradient(top, white 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
  background: linear-gradient(to bottom, white 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

/* line 154, style.scss */
#menu {
  width: 50%;
  text-align: center;
  margin-top: 24px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 25%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
/* line 166, style.scss */
#menu li {
  display: inline-block;
  margin: 0px;
  padding: 2px;
}
/* line 172, style.scss */
#menu li:hover, #menu .current-page {
  border-bottom: 1px solid black;
}

/****************************************

	LIGHTBOX

****************************************/
/* line 183, style.scss */
#lightbox_bg {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

/* line 194, style.scss */
#lightbox_close {
  position: fixed;
  top: 36px;
  right: 36px;
  z-index: 999;
  cursor: pointer;
  display: none;
}

/* line 203, style.scss */
#lightbox_wrapper {
  position: fixed;
  z-index: 9999;
  width: 67%;
  height: 80%;
  top: 10%;
  left: 16.7%;
  text-align: center;
  display: none;
}
/* line 213, style.scss */
#lightbox_wrapper .image {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  cursor: pointer;
  transition: width 0.5s, height 0.5s, opacity 1s;
}
/* line 220, style.scss */
#lightbox_wrapper .landscape {
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 227, style.scss */
#lightbox_wrapper .portrait {
  height: 100%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/****************************************

	EDITOR

****************************************/
/* line 241, style.scss */
#editor_bar {
  position: fixed;
  z-index: 99;
  bottom: 48px;
  left: 5%;
  width: 90%;
  font-size: 1em;
  text-align: right;
  pointer-events: none;
}
/* line 252, style.scss */
#editor_bar div {
  display: inline-block;
  padding: 8px 12px 10px 12px;
  pointer-events: auto;
  display: none;
}
/* line 258, style.scss */
#editor_bar #editor_toggle {
  float: left;
  display: inline-block;
}

/* line 264, style.scss */
#editor_save, #editor_reset, #editor_toggle {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 1s ease-in-out;
  cursor: pointer;
}

/****************************************

	INFO

****************************************/
/* line 277, style.scss */
.info_wrapper {
  font-family: "Frank", "ITC Franklin Gothic Std", sans-serif;
}
/* line 280, style.scss */
.info_wrapper .column {
  width: 45%;
  margin-right: 5%;
  display: inline-block;
  vertical-align: top;
}
/* line 285, style.scss */
.info_wrapper .column div {
  margin-bottom: 36px;
}
/* line 288, style.scss */
.info_wrapper .column p {
  margin: 0 0 16px 0;
}
/* line 292, style.scss */
.info_wrapper .column:last-child {
  margin-right: 0%;
}

/****************************************

	INSTALLATIONS

****************************************/
/* line 303, style.scss */
.installation_row {
  width: 67%;
  margin-left: 16.7%;
  margin-bottom: 48px;
  text-align: center;
}
/* line 309, style.scss */
.installation_row img {
  width: 100%;
  height: auto;
}
/* line 313, style.scss */
.installation_row .portrait {
  height: 67vw;
  width: auto;
}
/* line 317, style.scss */
.installation_row .caption {
  display: block;
  width: 100%;
  font-family: "Frank", sans-serif;
}

/****************************************

	COMMANDES

****************************************/
/* line 330, style.scss */
#page_wrapper.commandes {
  width: 100%;
  margin-left: 0;
}

/* line 335, style.scss */
.commandes_item {
  margin-bottom: 48px;
}
/* line 337, style.scss */
.commandes_item h1, .commandes_item .commandes_intro {
  margin-left: 25%;
  margin-bottom: 36px;
  width: 50%;
  padding: 4px;
}

/* line 346, style.scss */
.commandes_images {
  margin-left: 0;
  width: 100%;
}
/* line 350, style.scss */
.commandes_images li {
  display: inline-block;
  vertical-align: top;
  width: 17.5%;
  height: 17.5vw;
  margin-right: 2.5%;
  margin-bottom: 24px;
  text-align: center;
}
/* line 359, style.scss */
.commandes_images li img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
/* line 364, style.scss */
.commandes_images li .landscape {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 368, style.scss */
.commandes_images li .portrait {
  height: 100%;
  width: auto;
}
/* line 373, style.scss */
.commandes_images li:nth-child(5n) {
  margin-right: 0%;
}
